.stats-container {
    display: inline;
    width: 100%;
}

.stats-option-by-car {
    max-width: 50px;
    max-height: 50px;
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px;
}

.by-cars {
    margin-bottom: 30px;
}

.stats-option > span {
    font-size: 16px;
    margin-right: 5px;
}

.stats-quantity {
    width: 220px;
    height: 80px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.stats-icon {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 35px;
}

.stats-content > h3 {
    margin-left: 65px;
    margin-top: -45px;
    width: 150px;
    font-size: 22px;
    color: white;
}

.stats-content > p {
    margin-left: 65px;
    width: 180px;
    font-size: 16px;
    color: white;
    font-style: italic;
}

.car-inspection {
    position: absolute;
    top: 160px;
    left: 350px;
    background-color: #287dff;
}

.car-expiry {
    position: absolute;
    top: 160px;
    left: 600px;
    background-color: #ff4141;
}

.car-expiry-this-month {
    position: absolute;
    top: 160px;
    left: 850px;
    background-color: #8401dc;
}

.car-expiry-future {
    position: absolute;
    top: 160px;
    left: 1100px;
    background-color: #ee00ff;
}
