.change-password-container {
    display: flex;
    flex-direction: column;
  }
  
  .change-password-headerText {
    font-size: 24px;
    padding-bottom: 20px;
    color: #000;
  } 
  
  .input-container-flex {
    display: flex;
  }
  
  .change-password-container .top-border {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
  }
  
  .change-password-container h2 {
    margin-bottom: 10px;
  }
  
  .change-password-container .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .change-password-container .form-row:last-child {
    margin-bottom: 0;
  }
  
  .change-password-container .input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .change-password-container .distance {
    padding-right: 15px;
  }
  
  .change-password-container label {
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  .change-password-container input[type="text"],.change-password-container input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .change-password-container input[disabled] {
    background-color: #f2f2f2;
  }
  
  .change-password-container .success-message {
    color: #22B0DC;
    margin-top: 10px;
  }
  
  .change-password-container .button-container {
    margin-top: 10px;
    display: flex;
  }
  
  
  .change-password-container button:focus {
    outline: none;
  }
  
  .change-password-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .change-password-container .button-update {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #22B0DC;
    margin-right: 10px;
    color: #fff;
    margin-top: -1px;
  }
  
  .change-password-container .button-cancel {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #efefef;
    margin-right: 10px;
    color: black;
    margin-top: -1px;
  }
  
  .change-password-container .input-disabled {
    position: relative;
  }
  
  .change-password-container .input-disabled::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .change-password-container .input-disabled:hover::after {
    opacity: 1;
  }
  
  .wrapper {
    margin-top: 20px;
  }
  
  .content div {
    color: #333;
    text-align: left;
    font-size: 14px;
  }
  
  .content .requirement-list {
    margin-top: 10px;
  }
  
  .requirement-list li {
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .requirement-list li i {
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
  }
  
  .requirement-list li.valid i {
    font-size: 1rem;
    color: #22B0DC;
  }
  
  .requirement-list li span {
    margin-left: 12px;
    color: #333;
    font-size: 13px;
  }
  
  .requirement-list li.valid span {
    color: #999;
    font-size: 13px;
  }
  
  @media screen and (max-width: 500px) {
    body, .wrapper {
      padding: 15px;
    }
  
    .wrapper .pass-field {
      height: 55px;
    }
  
    .content p  {
      font-size: 1.15rem;
    }
  
    .requirement-list li {
      font-size: 1.1rem;
    }
  
    .requirement-list li span {
      margin-left: 7px;
    }
  }
  