.search-table-container {
    width: 100%;
    border-radius: 5px;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  }
  
  .search-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .search-table th {
    padding: 5px;
    text-align: left;
    color: #fff;
  }
  
  .search-table td {
    padding: 5px;
    text-align: left;
  }

  .search-table thead {
    margin-top: -5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #22B0DC;
  }
  
  .search-table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); /* Màu nền mờ */
  }

/* Ẩn thanh cuộn trên Chrome và Safari */
.search-table-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Ẩn track của thanh cuộn trên Chrome và Safari */
  .search-table-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Ẩn thumb của thanh cuộn trên Chrome và Safari */
  .search-table-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  /* Ẩn thanh cuộn trên Firefox */
  .search-table-container {
    scrollbar-width: none;
  }
  
  /* Ẩn thanh cuộn trên Edge và IE */
  .search-table-container {
    -ms-overflow-style: none;
  }