.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px; 
  z-index: 999; 
  background-color: rgba(0, 0, 0, 0);
  display: flex;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
  flex: 1;
  max-width: 100px;
  max-height: 80px;
}

.nar-tag {
  margin-left: 260px;
  margin-top: 30px;
  flex: 5;
  display: flex;
  gap: 80px;
}

.login-btn {
  flex: 1;
  max-width: 120px;
  max-height: 35px;
  margin-top: 22px;
  margin-right: 50px;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #2091F9;
  border-color: #2091F9;
  box-shadow: none;
}

.login-btn:active {
  background-color: red;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}
