.dev-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #45a8ff, #fb5dac);
    display: flex;
    flex-direction: column;
}

.dev-heading {
    margin-top: 140px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.developers {
    position: absolute;
    top: calc(260px + 0.5vw);
    left: calc(20px + 8vw);
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    gap: calc(80px + 2vw);
}

.developer1,
.developer2,
.developer3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-img {
    width: calc(100px + 4vw);
    height: calc(100px + 4vw);
    border-radius: 50%;
}

.dev-name {
    font-size: 25px;
    font-size: calc(16px + 0.5vw);
    color: white;
    white-space: nowrap;
}

.dev-desc {
    color: white;
    font-size: calc(15px + 0.2vw);
    white-space: nowrap;
}

.developers h1 {
    margin-top: 20px;
    margin-bottom: 0;
}

h1 + p {
    margin-top: 0;
}

.contact > span {
    color: white;
    font-size: calc(16px + 0.2vw);
}

.contact {
    margin-top: calc(450px + 0.5vw);
    text-align: center;
}

.contact img {
    position: absolute;
    margin-left: 10px;
    width: calc(22px + 0.2vw);
    height: calc(22px + 0.2vw);
}

/* Mobile styles */
@media screen and (max-width: 739px) {
    .dev-container {
        height: 180vh;
    }

    .dev-heading {
        font-size: 36px;
    }

    .developers {
        display: block;
    }

    .developer1,
    .developer2 {
        margin-bottom: 50px;
    }

    .rounded-img {
        width: calc(120px + 4vw);
        height: calc(120px + 4vw);
        border-radius: 50%;
    }

    .dev-name {
        font-size: 24px;
    }

    .dev-desc {
        font-size: 18px;
    }

    .contact {
        margin-top: 140vh;
    }

    .contact > span {
        font-size: 20px;
    }

    .contact img {
        width: 25px;
        height: 25px;
    }
}