.dev-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #45a8ff, #fb5dac);
    display: flex;
    flex-direction: column;
}

.dev-heading {
    margin-top: 140px;
    text-align: center;
    font-size: 40px;
    /* background-image: linear-gradient(to right, #8800ff, #006aff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; */
    color: white;
}

.developers {
    position: absolute;
    top: 260px;
    left: 150px;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.developer1,
.developer2,
.developer3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.dev-name {
    font-size: 25px;
    color: white;
}

.dev-desc {
    color: white;
    font-size: 18px;
}

h1 {
    margin-bottom: 0;
}

h1 + p {
    margin-top: 0;
}

.contact > span {
    color: white;
    font-size: 20px;
}

.contact {
    /* position: absolute;
    left: 50%;
    top: 90%; */
    margin-top: 30%;
    text-align: center;
}

.contact img {
    position: absolute;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}