.services-container {
    width: 100vw;
    height: 500vh;
    background-image: linear-gradient(to bottom right, #31cfda, #1453dc);
    display: flex;
    flex-direction: column;
}

.safe-container,
.certificate-container,
.storage-container,
.tutorial-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content-container {
    margin-top: calc(90px + 2vw);
    background-color: white;
    width: 80vw;
    height: 75vh;
    border-radius: 20px;
    display: flex;
}

.content {
    flex: 1;
    max-width: 50%;
    text-align: center;
}

.illus-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.illus-img > img {
    height: 90%;
    width: 100%;
    border-radius: 20px;
    object-fit: unset;
}

.content > h1 {
    font-size: calc(12px + 1.8vw);
    margin-top: calc(40px + 3vw);
    margin-bottom: 10%;
}

.container1 h1,
.container1 p{
    color: #007bff;
}

.container2 h1,
.container2 p{
    color: #ff8a00;
}

.container3 h1,
.container3 p{
    color: #9a3ede;
}

.container4 h1,
.container4 p{
    color: #33b22c;
}

.content > p {
    font-style: normal;
    text-align: justify;
    align-items: center;
    margin-top: 1%;
    margin-left: 10%;
    font-size: calc(12px + 0.6vw);
    width: 80%;
}

.safe-container > .content-container {
    background-color: #eff9ff;
}

.services-heading {
    margin-top: 140px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.services-options {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    gap: 20px;
}

.options {
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgba(255, 255, 255, 1);
}

.options > h2 {
    margin-top: 10px;
    font-size: calc(6px + 1vw);
}

.options > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.options > p {
    font-size: calc(10px + 0.5vw);
}

.see-more {
    margin-top: calc(70px + 1vw);
    font-size: calc(8px + 0.6vw);
}

.option1 {
    background-image: linear-gradient(to right bottom, rgb(140, 226, 255), #8fc5ff);
}

.option1 > h2,
.option1 > p,
.option1 > h3 {
    color: rgb(70, 70, 255);
}

.option2 {
    background-image: linear-gradient(to right bottom, rgb(255, 255, 73), #ffbe8d);
}

.option2 > h2,
.option2 > p,
.option2 > h3 {
    color: rgb(255, 112, 17);
}

.option3 {
    background-image: linear-gradient(to right bottom, rgb(255, 183, 248), rgb(216, 164, 255));
}

.option3 > h2,
.option3 > p,
.option3 > h3 {
    color: rgb(116, 0, 194);
}

.option4 {
    background-image: linear-gradient(to right bottom, rgb(195, 252, 191), rgb(161, 255, 193));
}

.option4 > h2,
.option4 > p,
.option4 > h3 {
    color: rgb(40, 176, 49);
}

.option1:hover,
.option2:hover,
.option3:hover,
.option4:hover {
    animation: moveUpDown 0.8s infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Mobile styles */
@media screen and (max-width: 739px) {
    .services-heading {
        font-size: 35px;
    }

    .see-more,
    .option-desc {
        display: none;
    }

    .services-options {
        display: flex;
        flex-wrap: wrap;
    }

    .options {
        flex-basis: calc(50% - 10px);
        margin-bottom: 80px;
        margin-top: -80px;
    }

    .options h2 {
        font-size: 20px;
        text-align: center;
    }

    .options img {
        max-height: 50%;
        max-width: 35%;
    }

    .option1,
    .option2,
    .option3,
    .option4 {
        max-height: 100%;
        height: 60%;
    }

    .options > img {
        width: 60%;

    }

    .content-container {
        width: 90%;
        height: 70%;
        margin-top: calc(150px + 0.5vw);
    }

    .content h1 {
        margin-top: calc(80px + 0.5vw);
        font-size: calc(14px + 2vw);
    }

    .content > p {
        font-size: calc(8px + 1.5vw);
    }

    .illus-img img {
        margin: auto auto;
        width: 100%;
        height: 70%;
        object-fit: unset;
    }
}

/* Tablet styles */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .services-heading {
        position: relative;
        bottom: 25px;
        font-size: 32px;
    }

    .services-options {
        display: flex;
        flex-wrap: wrap;
    }

    .options {
        flex-basis: calc(50% - 10px);
        margin-bottom: 100px;
        margin-top: -100px;
        height: 220px;
    }

    .options > p {
        font-size: 16px;
    }

    .options > h2 {
        font-size: 20px;
        text-align: center;
    }

    .options > h3 {
        font-size: 16px;
        margin-top: 20px;
    }

    .options > img {
        max-height: 50%;
        max-width: 20%;
        margin-bottom: 10px;
    }

    .option1,
    .option2,
    .option3,
    .option4 {
        max-height: 100%;
    }

    .options > img {
        width: 60%;
    }

    .content-container {
        width: 90%;
        height: 70%;
        margin-top: calc(130px + 2vw);
    }

    .content h1 {
        margin-top: calc(70px + 2vw);
        font-size: calc(6px + 2.6vw);
        white-space: nowrap;
    }

    .content > p {
        font-size: calc(10px + 1vw);
    }

    .illus-img > img {
        margin: auto auto;
        width: 80%;
        height: 80%;
    }
}